python-telegram-bot[job-queue]==20.7
  gtts
  yt-dlp
  pydub
  nest-asyncio
  sqlalchemy
  apscheduler
  google-generativeai
  requests
  Pillow
  numpy
  pandas
  flask
  aiohttp
  flask-sqlalchemy
  beautifulsoup4
  websocket-client
  werkzeug
  httpx
  ffmpeg-python
  openai
  instaloader
  telegram
  vaderSentiment
  