python-telegram-bot==20.7
gtts
yt-dlp
pydub
nest-asyncio
sqlalchemy
apscheduler
google-generativeai
requests
Pillow
numpy
pandas
flask
aiohttp
flask-sqlalchemy
beautifulsoup4
websocket-client
werkzeug
httpx
ffmpeg-python
openai
instaloader
aiohttp
apscheduler
beautifulsoup4
faster-whisper
ffmpeg-python
flask
flask-sqlalchemy
google-generativeai
gtts
httpx
instaloader
nest-asyncio
numpy
openai
pandas
Pillow
pydub
python-telegram-bot
requests
sqlalchemy
websocket-client
werkzeug
yt-dlp
python-telegram-bot[job-queue]
telegram
